<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <h4>Item detail</h4>
        <div>
            <h5>Item name: <%= item.name %></h5>
            <h5>Item price: $<%= item.price %></h5>
        </div>
        <a href="" id="deleteBtn" data-id="<%= item._id %>" class="delete btn">Delete</a>
    </div>
<script>
    $("#deleteBtn").click((e) => {
        e.preventDefault();
        const id = $("#deleteBtn").data("id");
        console.log(id);
        const endpoint = `/items/${id}`;
        fetch(endpoint, {
            method: 'DELETE'
        }).then(res=> res.json()).then(data => {
            window.location.href = data.redirect;
        }).catch(err => console.log(err));
        
    })
</script>
</body>
</html>